<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>College</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NIT-Calicut-B.Tech-Civil Engineering-4 Years</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NIT-Jaipur-B.Tech-Mechanical Engineering-4 Years</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NIT-Hamirpur-Btech + M.Tech (IDD)-Electronics and Communication Engineering-5 Years</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NIT-Meghalaya-B.Tech-Electronics and Communication Engineering-4 Years</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NIT-Calicut-B.Tech-Chemical Engineering-4 Years</td>
    </tr>
    <tr>
      <th>5</th>
      <td>NIT-Rourkela-B.Tech-Metallurgical and Materials Engineering-4 Years</td>
    </tr>
    <tr>
      <th>6</th>
      <td>NIT-Jalandhar-B.Tech-Electronics and Communication Engineering-4 Years</td>
    </tr>
    <tr>
      <th>7</th>
      <td>NIT-Karnataka-Surathkal-B.Tech-Civil Engineering-4 Years</td>
    </tr>
    <tr>
      <th>8</th>
      <td>NIT-Uttarakhand-B.Tech-Electronics and Communication Engineering-4 Years</td>
    </tr>
    <tr>
      <th>9</th>
      <td>NIT-Rourkela-Btech + M.Tech (IDD)-Chemical Engineering-5 Years</td>
    </tr>
  </tbody>
</table>