<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="{{ url_for('static',filename='styles/index.css') }}" rel="stylesheet">
    <title>College Predictor</title>
  </head>
  <body>
    <h1>Dreaming of getting into IIT's and NIT's?</h1>
<br>
<p class="subtitle">We'll help you get the best college for you!</p>
<br><br><br>
<a href="{{ url_for('form') }} ">
	<span> </span>
	<span> </span>
	<span> </span>
	<span> </span>
	Start Searching..
</a>
  </body>
</html>